.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
    text-align: center;
  }

  .nav a {
    margin-left: 1rem;
  }
}
